body { font-family: Raleway, sans-serif; color: #0500F5; }
.editor-styles-wrapper { background: #FFFFFF; }
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3 { font-weight: 800; line-height: 1; }
